<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plc.dao.MarketingMapper" >
  <resultMap id="BaseResultMap" type="com.plc.pojo.Marketing" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="marketing_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="marketing_class" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, marketing_name, marketing_class, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from plc_marketing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from plc_marketing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.plc.pojo.Marketing" >
    insert into plc_marketing (id, marketing_name, marketing_class, 
      status, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{marketingName,jdbcType=VARCHAR}, #{marketingClass,jdbcType=INTEGER}, 
      #{status,jdbcType=BIT}, now(), now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.plc.pojo.Marketing" >
    insert into plc_marketing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="marketingName != null" >
        marketing_name,
      </if>
      <if test="marketingClass != null" >
        marketing_class,
      </if>
      <if test="status != null" >
        status,
      </if>
        create_time,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="marketingName != null" >
        #{marketingName,jdbcType=VARCHAR},
      </if>
      <if test="marketingClass != null" >
        #{marketingClass,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
        now(),
        now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.plc.pojo.Marketing" >
    update plc_marketing
    <set >
      <if test="marketingName != null" >
        marketing_name = #{marketingName,jdbcType=VARCHAR},
      </if>
      <if test="marketingClass != null" >
        marketing_class = #{marketingClass,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
        update_time = now(),
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.plc.pojo.Marketing" >
    update plc_marketing
    set marketing_name = #{marketingName,jdbcType=VARCHAR},
      marketing_class = #{marketingClass,jdbcType=INTEGER},
      status = #{status,jdbcType=BIT},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectList" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List"/>
    from plc_marketing
    ORDER BY id asc
  </select>
  <select id="selectActiveList" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from plc_marketing
    WHERE status = 1
    ORDER BY convert(marketing_name using gbk) collate gbk_chinese_ci
  </select>
  <select id="checkMarketingName" resultType="int" parameterType="string">
      select count(1) from plc_marketing
    where marketing_name = #{marketingName}
  </select>
</mapper>